@using SmartHouseMVC.Helpers
@model SmartHouseMVC.Models.SmartHouse.Devices.Loudspeakers
<div class="item loudspeakers">
    @DeleteHelper.CreateControl(Html, Model)
    <div class="indicators">
        @VolumeableHelper.CreateIndicator(Html, Model)
        @BassHelper.CreateIndicator(Html, Model)
    </div>
    <div class="controls">
        @SwitchableHelper.CreateControl(Html, Model)
        @VolumeableHelper.CreateControl(Html, Model)
        @BassHelper.CreateControl(Html, Model)
    </div>
</div>
