@using SmartHouseMVC.Helpers
@model SmartHouseMVC.Models.SmartHouse.Devices.Tv
<div class="item tv">
    @DeleteHelper.CreateControl(Html, Model)
    <div class="indicators">
        @VolumeableHelper.CreateIndicator(Html, Model)
        @RecordingHelper.CreateIndicator(Html, Model)
        @ThreeDimensionalHelper.CreateIndicator(Html, Model)
    </div>
    <div class="controls">
        @SwitchableHelper.CreateControl(Html, Model)
        @VolumeableHelper.CreateControl(Html, Model)
        @RecordingHelper.CreateControl(Html, Model)
        @ThreeDimensionalHelper.CreateControl(Html, Model)
    </div>
</div>
